.site__error {
  .hero_text br {
    line-height: unset !important;
  }

  .error_image_container {
    text-align: center;
    margin-bottom: 300px;
  }

  .error_image {
    width: 800px;
    height: 250px;
  }
}

@include phone {
  .site__error {
    padding-top: 4em;

    .error_image_container {
      margin-bottom: 50px;
    }

    .error_image {
      height: 200px;
      width: 100%;
      object-fit: contain;
    }
  }
}
