.site__home {
  .site__home__title a {
    color: #000;
  }

  #careers .site__toogle_text__body__html {
    width: 75%;
    padding-bottom: 1px;
  }

  #home-hero.featured__work .featured__work__hero_image {
    max-height: unset;
  }

  .site__grid_clients__single__image {
  }
}

@include phone {
  .site__home_dropdowns {
    display: block;
  }

  .site__home {
    padding-top: 4em;

    &__capabilities {
      align-items: flex-end;
      border-bottom: 1px solid #000;
      margin: 10px 0;

      .col_underline .head {
        border-bottom: none;
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 15px;
    }

    .site__toogle_text__head__icon {
      top: 5px;
    }

    #careers_ToggleTextList_container {
      #careers_ToggleTextList_container_item_0, #careers_ToggleTextList_container_item_2 {
        .site__toogle_text__head__icon {
          top: 1.25em;
        }
      }

      #careers_ToggleTextList_container_item_1 {
        .site__toogle_text__head__icon {
          top: 0.5em;
        }
      }
    }
  }
}
