.component_buttonArrow_list {
  .buttonArrow-container {
    display: flex;
    flex-direction: row;
  }

  .buttonArrow-container .col {
    display: flex;
    flex-direction: column;

    span.text.site__home__title {
      font-size: 2em;
      width: 100%;
      text-decoration: none !important;
    }

    .animated-arrow {
      margin: 15px 0;
      display: flex;
      justify-content: flex-end;
    }

    .animated-arrow > .main {
      width: 100%;
    }
  }
}

@include phone {
  .component_buttonArrow_list {

    .buttonArrow-container {
      display: block;
    }
  }
}
